/*! 
* Custom css for aoahonen.github.io 
*/


html { overflow-y: scroll; overflow-x: hidden; }

body {
	/*background-color: #f6f6f6;*/
	background-color: #FFFBF9;;
	min-width: 960px;
}

.ml_spacer{
	height: 5px;
	width: 100%;
	margin: 5px;
	clear: both;
}

.ml_topnav{
	background: #F2F2f3;
	border-color: #e4d0d0;
	margin-top: -10px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px; 
	border-style: outset;
	min-width: 960px;

}

.ml_nav_container{
	max-width: 1200px;
	margin-left: auto;
 	margin-right: auto;
}

.ml_topnav img{
	height: 40px;
	margin-top: -5px;
	margin-bottom: 10px;
	float:left;
}

.ml_topnav ul{
	list-style-type: none;
}

.nav_cont_links li{
	padding-top:15px;
}

.nav_cont_links li>a { 
		text-decoration: none;
		color: #444;
		font-size: 20px;
		line-height: 26px;
		margin-right: 1em;
}

.nav_access_links li>a{
	margin-top: 15px;
	font-size: 20px;
	line-height: 26px;
	float: right;
	color: #444;
	text-decoration: none;
	margin-left: 0.2em;
}

.nav_access_links li>a:hover{
		color: #FA6600;
}

.ml_header_content{
	padding-top: 45px;
	height: 600px;
	width: 960px;
	margin-left: auto;
 	margin-right: auto;
 	background-color: rgba(255, 255, 255, 0.7);
 	
 	h2 {
 		font-size: 36px;
 	}
}

.ml_header_div{
	margin-top: 60px;
	/*height: 600px;*/
	background-image: url("../../assets/images/ml-webbg-big2.png") ;
}

.ml_header_desc{
	width: 550px;
	margin-left: auto;
 	margin-right: auto;	
 	padding-top: 25px;
 	padding-bottom: 5px;
}

.ml_header_desc>p{
	padding-left: 15px;
 	padding-right: 15px;
 	font-size: 22px;
 	padding-bottom: 25px;
}


.ml_apple_link{
	float: left;
	margin-left: 225px;
}

.ml_apple_link>a>img{
	width: 200px;
}

.ml_google_link{	
	float: right;
	margin-right: 225px;
}

.ml_google_link>a>img{
	width: 200px;	
}

.download_google_button{
	width:200px;
	background-image: url("../../assets/images/button_android.png");
	background-repeat: no-repeat ;
}

.ml_content_div_1
{
	padding-top: 10px;
	/*background-color: #FFFBF9;*/
	background-color: #e2e2e2;
 	
 	padding-bottom: 10px;
 	margin-right: auto;
 	margin-left: auto;
 	min-width: 960px;

}

.fixed_height550{
	height: 550px;
}

.test-class{
	display: inline-block;
}

.steps123 {
	min-width: 250px;
	max-width: 300px;	
	float:left;
}

.steps123 img{
	width: 90%

}

.steps123 p {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2em;
}

.ml_content_div_2
{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #FFFBF9;

 	/*background-color: #F2f2f2;*/

 	margin-right: auto;
 	margin-left: auto;
 	min-width: 1200px;
}


.usertestimony {
	min-width: 180px;
	max-width: 250px;	
	float:left;
	margin-right: 1em;
	margin-left: 1em;

}

.usertestimony img{
	width: 150px;

}

.usertestimony p {
	text-align: left;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
}


























.ml_div1{
	height: 365px;
	background-image: url("../../assets/images/web-bg1.jpg") ;
}

.ml_div2{
	height: 365px;
	background-image: url("../../assets/images/web-bg2.jpg") ;
}

.ml_div3{
	height: 365px;	
	background-color: #f2f2f2;
}


.div_content_left{
	height: 100%;
	width: 900px;
	margin-left: auto;
 	margin-right: auto;
 	text-align: left;
 	background-color: rgba(255, 255, 255, 0.7);
}

.div_content_left>h2{
	width: 500px;
	padding-top: 100px;
	padding-left: 25px;
 	text-align: left;
 	float: left;
}

.div_content_left>p{
	font-size: 20px;
	width: 500px;
	padding-left: 25px;
 	
 	text-align: left;
 	float: left;
}

.div_content_left>.img_right{
	float: right;
	height: 300px;
	margin-top: 55px;
	padding-right: 25px
}

.div_content_right{
	height: 100%;
	width: 900px;
	margin-left: auto;
 	margin-right: auto;
 	/*text-align: left;/*
 	/*background-color: rgba(255, 255, 255, 0.7);*/
}

.div_content_right>h2{
	width: 500px;
	padding-top: 100px;
	padding-right: 25px;
 	text-align: left;
 	float: right;
}
.div_content_right>p{
	font-size: 20px;
	width: 500px;
	padding-right: 25px;
 	text-align: left;
 	float: right;
}
.div_content_right>.img_left{
	float: left;
	height: 300px;
	margin-top: 55px;
	padding-right: 25px;
	margin-left: 25px;
}




/* ************************ */
/*   animation test stuff   */
/* ************************ */


/* Key frames for fidd. browsers */
@keyframes animatedBackground {
			from { background-position: 0 0; }
			to { background-position: -2837px 0; }
		}
		@-webkit-keyframes animatedBackground {
			from { background-position: 0 0; }
			to { background-position: -2837px 0; }
		}
		@-ms-keyframes animatedBackground {
			from { background-position: 0 0; }
			to { background-position: -2837px 0; }
		}
		@-moz-keyframes animatedBackground {
			from { background-position: 0 0; }
			to { background-position: -2837px 0; }
		}


/* css for animate-area id */
#animate-area	{ 
	width: 100%; 
	height: 365px; 
	background-image: url("../../assets/images/scroll_bg.jpg");
	background-position: 0px 0px;
	background-repeat: repeat-x;

	animation: animatedBackground 140s linear infinite;
	-ms-animation: animatedBackground 140s linear infinite;
	-moz-animation: animatedBackground 140s linear infinite;
	-webkit-animation: animatedBackground 140s linear infinite;
}

#animate-area2	{ 
	width: 100%; 
	height: 365px; 
	background-image: url("../../assets/images/scroll_bg2.jpg");
	background-position: 0px 0px;
	background-repeat: repeat-x;

	animation: animatedBackground 180s linear infinite;
	-ms-animation: animatedBackground 180s linear infinite;
	-moz-animation: animatedBackground 180s linear infinite;
	-webkit-animation: animatedBackground 180s linear infinite;
}



/* Setting for div inside animated-area - this for div where text left img right */
.opacy_content_left{
	height: 100%;
	width: 900px;
	margin-left: auto;
 	margin-right: auto;
 	text-align: left;
 	background-color: rgba(255, 255, 255, 0.85);
}
.opacy_content_left>h2{
	width: 500px;
	padding-top: 100px;
	padding-left: 25px;
 	text-align: left;
 	float: left;
}
.opacy_content_left>p{
	font-size: 16px;
	width: 500px;
	padding-left: 25px;
 	
 	text-align: left;
 	float: left;
}

.opacy_content_left>.img_right{
	float: right;
	height: 300px;
	margin-top: 55px;
	padding-right: 25px
}